.breadcurmb-section {
	.background_overlay {
		background-color: rgba(81, 104, 112, 0.7);
	}
}
.breadcurmb-content {
	padding: 220px 0px 145px 0px;
	position: relative;
	z-index: 1;
	h2 {
		color: #fff;
		font-size: 80px;
		font-weight: 700;
		padding-bottom: 20px;
	}
	.breadcrumb {
		padding-left: 30px;
		background-color: transparent;
		li {
			color: #fff;
			font-weight: 700;
			position: relative;
			margin-right: 25px;
			&:first-child {
				@extend%btn-circle;
				&:before {
					top: -15px;
					left: -30px;
					background-color: $body-color;
				} 
			}
		}
	}
	.breadcrumb-item+.breadcrumb-item::before {
		top: 5px;
		width: 2px;
		padding: 0;
		content: '';
		height: 15px;
		left:  -12px;
		position: absolute;
		background-color: #fff;
	}
}