.shopping-cart {
	right: 0;
	top: 85px;
	z-index: -1;
	opacity: 0;
	width: 350px;
	display: block;
	margin: 10px 0;
	background: #fff;
	padding: 30px 20px;
	position: absolute;
	visibility: hidden;
	transition: .3s all ease-in-out;
	border-top: 5px solid $base-color;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	&.cart-show {
		top: 65px;
		opacity: 1;
		z-index: 9;
		visibility: visible;
	}
	li {
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border-bottom: none;
		}
	}
	.cart-total {
		padding-top: 10px;
		font-weight: 700;
		font-size: 14px;
		span {
			color: $base-color;
		}
	}
	.cart-checkout {
		color: #fff;
		font-size: 14px;
		padding: 8px 15px;
		border-radius: 30px;
		background-color: $base-color;
	}
}
.cart-product-img {
	margin-right: 20px;
	height: 80px;
	width: 80px;
}
.cart-product-text {
	padding-top: 15px;
	h3 {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 5px;
		a {
			color: $body-color;
		}

	}
	span {
		font-size: 14px;
		margin-right: 20px;
		display: inline-block;
	}
}