/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@100;400;500;600;700&family=Nunito:wght@200;300;400;600;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

$body-font: 'Roboto';
$heading: 'Nunito';
$heading-2: 'Montserrat';
$heading-3: 'Playfair Display';
$site-tag-1: 'Caveat';

/*=========
Color Code
===========*/
$body-color: #54304d;
$base-color: #ff5b2e;
$color-2: #92d3d7;

